@import "./utils/variables";
@import "./components/header";
@import "./components/index-main";
@import "./components/footer";
@import "./components/portfolio-main";
@import"./components/mobile-menu";

body {
    background-color: $primary-color;
    color: $primary-text;
    font-size: map-get($font-size, standard);
    letter-spacing: map-get($letter-spacing, standard);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;

        margin: 0 auto;
    }
}
.section {
    margin: 94px 0 94px 0;
}