.footer{
    width:100%;
    background-color: $background-footer;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    
    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    
    &__adress{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__logo{
        color: $primary-color;
        font-family: $logo-font;
        font-size: map-get($font-size, logo-font);
        font-weight: map-get($font-weight, bold);
        line-height: 1.193;
        text-decoration: none;

        &--color{
            color: $hover-text;
        }
    }

    &__text{
        font-style: normal;
        color: $primary-color;
        margin: 20px 0 0 0;
        text-align: center;
    }

    &__links{
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin: 9px 0;
        list-style: none;
        padding-left: 0;
    }
    &__link{
        text-decoration: none;
        color: $footer-link;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            color: $hover-text;
        }
    }

    &__header{
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, standard);
        color: $primary-color;
        margin: 0 0 20px 0px;
        text-align: center;
    }

    &__icons{
        display: flex;
        gap: 10px;
        list-style: none;
        padding-left: 0;
    }

    &__icon{
        background-color: $footer-icon;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $primary-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            fill: $primary-color;
            background-color: $hover-text;
            cursor: pointer;
        }
    }

    &__button--container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    &__sign-up{
        background-color: rgba(0, 0, 0, 0);
        border: solid rgba(255, 255, 255, 0.3) 1px;
        border-radius: 4px;
        width: 90%;
        max-width: 450px;
        height: 50px;
        color: rgba(255, 255, 255, 0.6);
        padding: 16px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__button{
        cursor: pointer;
        background-color: $hover-text;
        font-size: map-get($font-size, enlarged);
        font-weight: map-get($font-weight, bold);
        color: $primary-color;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        border-style: none;
        margin-left: 12px;
        text-align: left;
        padding-left: 42px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active{
            background-color: #135a91;
        }

        &--icon{
            fill: $primary-color;
            position: absolute;
            width: 50px;
            height: 24px;
        }
    }
}

@media(min-width:768px){
.footer {
    padding: 60px 0;
    background-color: $background-footer;
    align-items: center;
    
    
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        gap:60px;
    }

    &__logo {
        color: $primary-color;
        font-family: $logo-font;
        font-size: map-get($font-size, logo-font);
        font-weight: map-get($font-weight, bold);
        line-height: 1.193;
        text-decoration: none;

        &--color {
            color: $hover-text;
        }
    }

    &__text {
        font-style: normal;
        color: $primary-color;
        margin: 20px 0 0 0;
        text-align: center;
    }

    &__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 9px;
        margin: 9px 0;
        list-style: none;
        padding-left: 0;
    }

    &__link {
        text-decoration: none;
        color: $footer-link;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $hover-text;
        }
    }

    &__icons--container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__header {
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, standard);
        color: $primary-color;
        margin: 0 0 20px 0px;
    }

    &__icons {
        display: flex;
        gap: 10px;
        list-style: none;
        padding-left: 0;
    }

    &__icon {
        background-color: $footer-icon;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $primary-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $primary-color;
            background-color: $hover-text;
            cursor: pointer;
        }
    }

     &__button--container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    &__sign-up {
        background-color: rgba(0, 0, 0, 0);
        border: solid rgba(255, 255, 255, 0.3) 1px;
        border-radius: 4px;
        max-width: 450px;
        height: 50px;
        color: rgba(255, 255, 255, 0.6);
        padding: 16px;
        font-size: 16px;
    }

    &__button {
        cursor: pointer;
        background-color: $hover-text;
        font-size: map-get($font-size, enlarged);
        font-weight: map-get($font-weight, bold);
        color: $primary-color;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        border-style: none;
        margin-left: 12px;
        text-align: left;
        padding-left: 42px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            background-color: #135a91;
        }

        &--icon {
            fill: $primary-color;
            position: absolute;
            width: 50px;
            height: 24px;
        }
    }
}
}

@media(min-width:1200px){
    .footer{
    padding: 60px 0;
    background-color: $background-footer;
    flex-direction: row;
    display:flex;
    
    &__container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 70px;
        text-align: left;
    }

    &__adress{
        text-align: left;
    }

    &__logo{
        color: $primary-color;
        font-family: $logo-font;
        font-size: map-get($font-size, logo-font);
        font-weight: map-get($font-weight, bold);
        line-height: 1.193;
        text-decoration: none;

        &--color{
            color: $hover-text;
        }
    }

    &__text{
        font-style: normal;
        color: $primary-color;
        margin: 20px 0 0 0;
    }

    &__links{
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin: 9px 0;
        list-style: none;
        padding-left: 0;
        text-align: left;
    }
    &__link{
        text-decoration: none;
        color: $footer-link;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            color: $hover-text;
        }
    }

    &__icons--container{ 
        flex-direction: row;
    
    }

    &__header{
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, standard);
        color: $primary-color;
        margin: 12px 0 20px 0px;
        text-align: left;
    }

    &__icons{
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        list-style: none;
        padding-left: 0;
    }

    &__icon{
        background-color: $footer-icon;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $primary-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            fill: $primary-color;
            background-color: $hover-text;
            cursor: pointer;
        }
    }

     &__button--container{
        display: inline;
        width:auto;
     }

    &__sign-up{
        background-color: rgba(0, 0, 0, 0);
        border: solid rgba(255, 255, 255, 0.3) 1px;
        border-radius: 4px;
        width: 358px;
        height: 50px;
        color: rgba(255, 255, 255, 0.6);
        padding: 16px;
        font-size: 16px;
    }

    &__button{
        cursor: pointer;
        background-color: $hover-text;
        font-size: map-get($font-size, enlarged);
        font-weight: map-get($font-weight, bold);
        color: $primary-color;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        border-style: none;
        margin-left: 12px;
        text-align: left;
        padding-left: 42px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active{
            background-color: #135a91;
        }

        &--icon{
            fill: $primary-color;
            position: absolute;
            width: 50px;
            height: 24px;
        }
    }
}
}