.backdrop {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $background-backdrop;
    position: fixed;
    transition: all 250ms ease-in;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-height: 581px;
    width: 100%;
    color: $primary-text;
    background-color: $primary-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: $primary-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active{
            background-color:$primary-text;
        }
    }

    &__header {
        color: $secondary-text;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.172;
        margin: 40px 0 20px 0;
        text-align: center;
        max-width: 370px;
    }
    
    &__hover{
        width: 90%;
    }

    &__hover:hover>.modal__input,
    &__hover:focus>.modal__input {
        border: $hover-text 1px solid;
        box-shadow: none;
        outline: none;
    }
    
    &__hover:hover>.modal__icon,
    &__hover:focus>.modal__icon {
    fill: $hover-text;
    }

    &__forms{
        width: 100%;
        align-items: center;
        justify-content: center;

        &--tick{
            flex-wrap: wrap;
        }
    }

    &__input{
        width: 100%;
        height: 40px;
        display: block;
        margin: 4px 0 0 0;
        border-radius: 4px;
        border: $border-color 1px solid;
        padding: 0 0 0 30px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__comment{
        resize: none;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &::placeholder{
            color: $placeholder-text;
        }
    }

    &__terms-of{
        font-size: 12px;
        padding: 10px 0 20px 0;
        flex-wrap: wrap;
        margin-left: 30px;
        align-items: center;

        & input{
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
        
        & input:checked~.modal__checkmark{
            background-color: $hover-text;
            border: none;
        }
        
        :checked~.modal__checkmark:after {
            display: block;
        }
    }

    &__checkmark{
        fill: $primary-color;
        width: 16px;
        height: 15px;
        position: absolute;
        z-index: 999;
        border-radius: 3px;
        margin-right: 5px;
        margin-left: -20px;
    }

    &__check-text{
        background-color: $primary-color;
        border: $secondary-text 2px solid;
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 15px;
        border-radius: 3px;
        flex-wrap: wrap;
        margin-left: -20px;
    
         &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &__link{
        text-decoration: underline;
        color: $hover-text;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active{
            color:#135a91;
        }
    }

    &__icon{
        fill: $secondary-text;
        width: 15px;
        height: 13px;
        position: absolute;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--position1 {
            top: 149px;
            margin-left: 13px;
        }
        
            &--position2 {
            top: 218px;
            margin-left: 13px;
        }
        
            &--position3 {
            top: 285px;
            margin-left: 13px;
         }
    }

    &__submit-button{
        background-color: $hover-text;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        border: none;
        color: $primary-color;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 40px;

        &:hover,
        &:focus,
        &:active{
            background-color: #135a91;
        }
    }
}   
@media(min-width:768px){
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 581px;
    color: $primary-text;
    background-color: $primary-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: $primary-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            background-color: $primary-text;
        }
    }

    &__header {
        color: $secondary-text;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.172;
        margin: 40px 0 20px 0;
        width: 370px;
        text-align: center;
    }

    &__hover:hover>.modal__input,
    &__hover:focus>.modal__input {
        border: $hover-text 1px solid;
        box-shadow: none;
        outline: none;
    }

    &__hover:hover>.modal__icon,
    &__hover:focus>.modal__icon {
        fill: $hover-text;
    }

    &__input {
        height: 40px;
        display: block;
        margin: 4px 0 0 0;
        border-radius: 4px;
        border: $border-color 1px solid;
        padding: 0 0 0 30px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__comment {
        resize: none;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &::placeholder {
            color: $placeholder-text;
        }
    }

    &__terms-of {
        font-size: 12px;
        padding: 10px 0 20px 0;

        & input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        & input:checked~.modal__checkmark {
            background-color: $hover-text;
            border: none;
        }

        :checked~.modal__checkmark:after {
            display: block;
        }
    }

    &__checkmark {
        fill: $primary-color;
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 999;
        border-radius: 3px;
    }

    &__check-text {
        background-color: $primary-color;
        border: $secondary-text 2px solid;
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 3px;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &__link {
        text-decoration: underline;
        color: $hover-text;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            color: #135a91;
        }
    }

    &__icon {
        fill: $secondary-text;
        width: 15px;
        height: 13px;
        position: absolute;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--position1 {
            top: 149px;
        }

        &--position2 {
            top: 218px;
        }

        &--position3 {
            top: 285px;
        }
    }

    &__submit-button {
        background-color: $hover-text;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        border: none;
        color: $primary-color;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            background-color: #135a91;
        }
    }

}
}
@media(min-width:1200px){
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width:528px ;
    min-height: 581px;
    color: $primary-text;
    background-color: $primary-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: $primary-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            background-color: $primary-text;
        }
    }

    &__header {
        color: $secondary-text;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.172;
        margin: 40px 0 20px 0;
        width: 100%;
    }

    &__hover:hover>.modal__input,
    &__hover:focus>.modal__input {
        border: $hover-text 1px solid;
        box-shadow: none;
        outline: none;
    }

    &__hover:hover>.modal__icon,
    &__hover:focus>.modal__icon {
        fill: $hover-text;
    }

    &__input {
        height: 40px;
        display: block;
        margin: 4px 0 0 0;
        border-radius: 4px;
        border: $border-color 1px solid;
        padding: 0 0 0 30px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__comment {
        resize: none;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &::placeholder {
            color: $placeholder-text;
        }
    }

    &__terms-of {
        font-size: 14px;
        padding: 10px 0 20px 0;

        & input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        & input:checked~.modal__checkmark {
            background-color: $hover-text;
            border: none;
        }

        :checked~.modal__checkmark:after {
            display: block;
        }
    }

    &__checkmark {
        fill: $primary-color;
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 999;
        border-radius: 3px;
    }

    &__check-text {
        background-color: $primary-color;
        border: $secondary-text 2px solid;
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 3px;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &__link {
        text-decoration: underline;
        color: $hover-text;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            color: #135a91;
        }
    }

    &__icon {
        fill: $secondary-text;
        width: 15px;
        height: 13px;
        position: absolute;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__submit-button {
        background-color: $hover-text;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        border: none;
        color: $primary-color;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            background-color: #135a91;
        }
    }
}
}